* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: inline-flex;
    font-size: 8pt;
}

.reference .item {
    padding: 5px;
}

.recommendation .viewport {
    width: 500px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    /* -webkit-overflow-scrolliing: touch;
    flex-grow: 1;
    z-index: 1; 
    position: relative; */
}

.viewport::-webkit-scrollbar {
    display: none;
}

.recommendation .item {
    display: inline-block;
    vertical-align: top;
}