a {
    color: black;
}

.item {
    width: 160px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    padding: 5px;
    height: 100%;
}

@keyframes fade-in {
    0%   { background-color: #FFFFFF; }
    50%  {
        background: #e8efff;
    }
    100% {
        background: #caddfd;
    }
}
  
.item:hover{    
    animation: fade-in 0.2s linear;
    background: #caddfd;
}

img.item-image {
    display: block;
    margin: 10px auto;
    height: 150;
    width: 150;
    border: 2px solid transparent;
}

.item-name {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.4em;
    line-height: 1.4em;
    text-align:justify;
}

.item-old-price {
    line-height: 1.8em;
}

.price {
    color: #ff0004;
    line-height: 1.4em;
}

.item-price > span {
    font-size: 11pt;
    font-weight: bold;
}

.item-payment-conditions {
    font-weight: bold;
}